html {
    height: 100%;
}


body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e3e3e3;
    // background-image: linear-gradient(to bottom right, lightblue, rgb(91, 230, 230));
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

nav {
    height: 100px;
    background-color: #FEE600;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .nav-left {
        height: 100px;
        display: flex;
        flex-direction: row;
        width: 50%;
        img {
            height: 70px;
            margin-left: 50px;
            margin-top: 15px;
            margin-bottom: 15px;
        }
    
        h1 {
            padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 40px;
            cursor: pointer;
        }

        a {
            background-color: rgb(230, 207, 7);
            height: 100px;
            padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 5px;
            padding-right: 5px;
            margin-left: 30px;
        }
        
    }


    .nav-right {
        display: none;
        height: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        
        a {
            margin-right: 40px;
        }

        p {
            margin-top: 1rem;
            margin-right: 40px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }


    /* Style navigation menu links */
    #hamburger {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        background: black;
        display: none;
        position: absolute;
        right: 0;
        top: 25px;
        height: 50px;
        margin-right: 20px;
        
    }

    
    /* Add a grey background color on mouse-over */
    a:hover {
        background-color: #ddd;
        color: black;
    }
}

#myLinks {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    a,p {
        color: black;
        background-color: #888;
        padding: 14px 16px;
        height: 50px;
        width: 100%;
        margin-bottom: 0px;
    }

    a {
        background-color: rgb(228, 148, 148);
    }

    a:hover {
        background-color: rgb(185, 185, 185);
    }
}  





.stock-header {
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
}

b {
    font-size: 20px;
}

.transfer-form {
    background-color: white;
    width: 50%;
    padding: 5%;
    -webkit-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
    border-radius: 3px;
    margin-bottom: 10%;
    margin: 0 auto;
}