{% extends 'base.html' %}

{% block css %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/home.css') }}">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script type="text/javascript"
         src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}

{% block title %} Home {% endblock %}

{% block content %}
<nav id="navbar">
    <img src="{{ url_for('static',filename='logo.png') }}" alt="StockSim Logo">
    <h1>StockSim</h1>
    <div class="pull-right nav-right">
        <p>{{email}}</p>
        <a href='/logout' class='btn btn-primary'>Logout</a>
    </div>
    <a href="javascript:void(0);" id="hamburger" class="icon">
        <i class="fa fa-bars"></i>
    </a>
</nav>
<div id="myLinks">
    <p>{{email}}</p>
    <a href="/logout">Logout</a>
</div>
<div id="chartParent">
    <div id="chart">
        <canvas id="main-chart"></canvas>
    </div>
</div>


{% endblock %}